.topbar{
	height:auto;
	
}
.content .text{
	font-size: 16px;
	line-height: 24px;
	padding: 15px 0;
	text-indent: 2em;
}
.content h1{
	font-size: 22px;
	font-weight: bold;
}
.content .zan span b{
	line-height: 31px;
}
.content .comment{
	margin:50px  0;
	position: relative;
}
.content .comment .photo{
	position: absolute;
	width: 50px;
	height: 50px;
	margin:auto;
	margin-top: 50%;
	top:-25px;
}
.content .comment .photo img{
	border-radius: 25px;
	widows: 100%;
	height:100%;
}


/*comment*/
.content .comment .citems{
	overflow: hidden;
	padding-left: 25px;
}
.content .comment .citems .citem{
	
}
.content .comment .uphoto{
	width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #e8e8e8;
}
.content .comment .uphoto img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.content .comment .citems .ucont p.utext{
	padding: 0 5px!important;
}
.content .comment .citems .ucont .reply{
	border-left:2px solid #f2f2f2;
	padding-left: 5px;
}