.topbar{
    height:auto;
    /*margin-bottom: 50px;*/
}
.content .topics{
	margin: 15px 0;
}

.content .topics li {
    display: inline-block;
    float: left;
    height: 35px;
    width: 140px;
    padding-left: 6px;
    margin: 4px 0;
    line-height: 28px;
    overflow: hidden;
    
}
.content .topics li a{
	color: #999;
}
.content .topics li a:hover{
	color: #1E9FFF;
}

